local plr = game.Players.LocalPlayer.Name
if plr == "proazo123coso" or plr == "irvinyahir" or plr == "Fantasma7w7r" or plr == "Destructordemundo089" or plr == "Estebanfree1" or plr == "makikazumi" or plr == "8LMNTRIX8" or plr "SansChikito1" then
    game.StarterGui:SetCore("SendNotification",{Title = "script activado", Text = "Cuando quieras ejecuta el otro script", Duration = 10})
    function tickets()
        game:GetService("ReplicatedStorage").RSPackage.Events.GeneralFunction:InvokeServer("LotteryRandomDraw")
        end
        while wait() do
        for i=0,233333 do
            for i=0,5000000000000000000000000000000000000000000000000000000000000000 do
                tickets()
            end
            
            end
        end
    else game.StarterGui:SetCore("SendNotification",{Title = "Script no activado", Text = "Usuario no registrado", Duration = 10})
end
